---
import Analytics from "../icons/Analytics.astro"
import Customers from "../icons/Customers.astro"
import Products from "../icons/Products.astro"
import SellIcon from "../icons/Sell.astro"
import Settings from "../icons/Settings.astro"
import ShoppingCart from "../icons/ShoppingCart.astro"
import Transactions from "../icons/Transactions.astro"
import Users from "../icons/Users.astro"
import SideMenuItem from "./SideMenuItem.astro"
---
<nav class="flex flex-col flex-1 gap-2">
    <div class="  rounded-lg p-2">
        <ul>
            <SideMenuItem href="/sell" >
            <SellIcon/>
                Sell
            </SideMenuItem>

            <SideMenuItem href="/#" >
                Order
                </SideMenuItem>
            <SideMenuItem href="/#" >
                <Products />
               Productos
            </SideMenuItem>

            <SideMenuItem href="/#" >
                <ShoppingCart />
               Online Catalog
            </SideMenuItem>

            <SideMenuItem href="/#" >
                <Customers />
               Customers
            </SideMenuItem>

            <SideMenuItem href="/#" >
                <Transactions />
              Transactions
            </SideMenuItem>

            <SideMenuItem href="/#" >
                <Analytics />
               Analytics
            </SideMenuItem>

            <SideMenuItem href="/#" >
                <Users />
               Users
            </SideMenuItem>

            <SideMenuItem href="/#" >
                <Settings />
               Setting
            </SideMenuItem>
        </ul>
    </div>

</nav>