---
import Layout from '../layouts/Layout.astro';
import SellComponents from '../components/SellComponents.astro';

---

<Layout title="Sell">
	<div id="main-container"
		 class="relative transition duration-1000 bg-green-400">
	<!-- <PageHeader> --> 	
	 <div class="relative z-10 px-6">
		<!-- <Greetings> -->
		 <h1 class="text-4xl">Sell</h1>
	 </div>
	</div>
    <SellComponents/>
</Layout>

<style>
	
</style>
